<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quotes by Kanye</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Manrope:wght@200..800&family=MonteCarlo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
    <div class="container">
        <h1>
            Kanye West Once Said: 
        </h1>
    </div>
    <div class="image">
        <img src="/images/first.jpg" alt="Kanye west smiling nervously">
    </div>
    <div class="container">
        <h1>
            <%= locals.data %>
        </h1>
    </div>
    <div>
        <h2>
            <%= locals.error %>
        </h2>
    </div>
    
</body>
</html>