body{
    background-color: rgba(255, 127, 127, 0.707);
}

h1{
    color: rgb(255, 255, 0);
    font-family: "MonteCarlo";
    font-weight: 400;
    font-style: normal;font-family: "Edu NSW ACT Cursive", cursive;
}

h2{
    color: yellow;
    font-family: "MonteCarlo";
    font-weight: 400;
    font-style: normal;
    font-family: "Edu NSW ACT Cursive", cursive;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

.image{
    display: flex;
    justify-content: center;
    margin: 0 auto 20px;
    border-color: black;
}

.image img{
    width: 600px;
    height: 400px;
    object-fit: cover;
    display: block;
}
